/node_modules
public

content/themes/*
!content/themes/oPicking

content/plugins/query-monitor
content/plugins/akismet
content/plugins/advanced-custom-fields
content/plugins/oLogin
content/plugins/oSearch
content/plugins/wordpress-importer
content/plugins/Basic-Auth

content/languages
content/upgrade
content/uploads