.main__profil{
min-height: 30rem;
padding-top:12rem; 
padding-bottom: 20rem;
}

.container__profil{

border:grey solid 1px; 
padding:2rem; 

}


.add__post{
    padding-top: 2rem;
    padding-bottom:5rem;
    width: 60%;
}


.add_post_form{
    width: 35rem;
}

.container_posts{
    margin-top:2rem;
    border:grey solid 1px; 
    padding:2rem; 
    
}
.prg{
    font-size:1rem; 
    padding:1rem; 
    background-color: #181a28; 
    text-align:center; color:white; 
    text-transform:uppercase; 
    font-weight:bold;
}