
.introduction{
    background-color:rgba(255,255,255,0.5); 
    padding:1.5rem; font-size:1rem; 
   
    
}

.block_introduction{

    
   
    padding-top: 12rem;
    width: 70vw;
    margin: auto;
    max-block-size: 70%;
    
    
}

.introduction__content{
    font-size: 0.8rem;
}