.category{
    padding-top:15rem;
    padding-bottom: 2rem;
    min-height: 50rem;
}
.categorytwo{
    padding-top:2rem;
    padding-bottom:2rem;
} 

.no-embed-responsive-item{
    background-color: #F0F9D8;
}